/* header style */
#contain { width:100%; position:relative; overflow-x:hidden; }

#hd {
    width: 100%;
    min-height:100px; max-height:100px;
    background:#1688a3;
    overflow:hidden;
    position:relative;
}
.logo img{
    display:block;
    width:150px; height:auto;
    margin:0 auto; margin-top:20px;
}
#hd h1 {
    font-size:0.85rem;
    font-weight:bold;
    color:#fff;
    text-align:center;
}