/* visual */
    #visual { width:100%; margin:0; padding:0; }
    #subgnb {  }

    .contentwrap .content { display:none; }
    .taplabelwrap {  }
    .taplabel {
        display:block;
        float:left;
        height:40px;
        background:#ed135a;
        border:2px solid #ffff; box-sizing:border-box;
        border-radius:10px;
        text-align:center; line-height:36px;
        font-size:1em; font-weight:bold;
        color:#fff;
        text-shadow:2px 2px 2px rgba(0,0,0,0.5);
        margin-top:10px; margin-bottom:10px;
    }
    input#sub_ra01:checked ~ #subgnb .contentwrap .content01 { display:block; }
    input#sub_ra02:checked ~ #subgnb .contentwrap .content02 { display:block; }
    input#sub_ra03:checked ~ #subgnb .contentwrap .content03 { display:block; }
    input#sub_ra01:checked ~ #subgnb .taplabelwrap li .taplabel1 { background:#ba0546; }
    input#sub_ra02:checked ~ #subgnb .taplabelwrap li .taplabel2 { background:#ba0546; }
    input#sub_ra03:checked ~ #subgnb .taplabelwrap li .taplabel3 { background:#ba0546; }

    .product {
        float:left;
        height:150px;
        border:5px solid #fff; box-sizing:border-box;
        background-color:#eee;
    }
    .product img { display:block; margin:0 auto; width:80%; height:80px; }
    .product .pro_name {
        color:#000;
        text-align:center;
        font-size:0.8em;
    }
    .product .pro_price {
        color:red;
        text-align:center;
        font-size:0.7em; font-weight:bold;
    }